body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black; /* Default background color */
  transition: background-color 0.1s;
}

.mode-switch {
  position: fixed;
  top: 20px;
  right: 20px;
}

input[type="checkbox"] {
  display: none;
}

.mode-switch-label {
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: white; /* Button background color for dark mode */
  cursor: pointer;
  border-radius: 10px;
  position: relative;
}

input[type="checkbox"]:checked + .mode-switch-label {
  background-color: black; /* Button background color for white mode */
}

.headline {
  font-size: 3rem; /* Adjust font size as needed */
  position: absolute;
  top: 10%; /* Adjust top position as needed */
  left: 50%;
  transform: translateX(-50%);
  color: black; /* Default headline color for white mode */
  transition: color 0.1s;
}

body.dark-mode .headline {
  color: white; /* Headline color for black mode */
}
